# コーディングルール
Pythonの標準的なルールに従ってください。
注釈は不要です。書かないでください。LLMのTOKENの無駄です。
マジックナンバーなどがある場合は .env に記述してください。

# ドキュメントのルール
ドメイン駆動開発向けの資料として discord-remind-bot.md があります。参考にしてください。
コードに更新があった場合はタスクの最後に discord-remind-bot.md も一緒に更新してください。
